.inner-scroll {
  overflow: auto;
  max-height: calc(100vh - 100px);
}

.inner-scroll::-webkit-scrollbar {
  width: 0.5rem;
}

.inner-scroll::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 5px;
}

.inner-scroll::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.inner-constraint {
  overflow: hidden;
}
